{% extends 'base.html.twig' %}

{% block title %}Votre réservation - Musée du Louvres{% endblock %}

{% block body %}
    <header class="reservation-header">
        <div class="container text-center my-auto">
            {% for message in app.flashes('success') %}
                <div class="alert alert-success text-center">
                    <b>{{ message }}</b>
                </div>
            {% endfor %}
            <h1 class="mb-1">Stylish Portfolio</h1>
            <h3 class="mb-5">
                <em>Réservation</em>
            </h3>
        </div>
    </header>
    <section class="container">
        <div class="content-section">
            <div class="row">
                <div class="col-md-4 col-12">
                    <div class="container text-center">
                        <div class="text-center">
                            <p class="h2"><b>Coût total : {{ total }}€</b></p>
                        </div>
                        <div class="text-center mt-4">
                            <h2>Vos Billets</h2>
                        </div>
                        <div class="row">
                            <ul>
                                {% for billet in reservation.billets %}
                                    <li>{{ billet.nom ~ ' ' ~ billet.prenom }} — Tarif : <b>{{ billet.tarif }}€</b></li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-md-8 col-12">
                    <div class="container text-center">
                        <div class="text-center mt-4">
                            <h2>Finaliser la réservation</h2>
                        </div>
                        <div class="row">
                            {{ form_start(form) }}
                            {{ form_rest(form) }}
                            <button class="btn btn-primary">Valider</button>
                            {{ form_end(form) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
