{% extends 'base.html.twig' %}

{% block title %}Votre réservation - Musée du Louvres{% endblock %}

{% block body %}
    <header class="reservation-header">
        <div class="container text-center my-auto">
            {% for label, messages in app.flashes %}
                {% for message in messages %}
                    <div class="alert alert-{{ label }} text-center">
                        <b>{{ message }}</b>
                    </div>
                {% endfor %}
            {% endfor %}
            <h1 class="mb-1">Stylish Portfolio</h1>
            <h3 class="mb-5">
                <em>Réservation</em>
            </h3>
        </div>
    </header>
    <section class="container">
        <div class="content-section">
            <div class="row">
                <div class="col-md-4 col-12">
                    <div class="container text-center">
                        <div class="text-center mt-4">
                            <h2>Vos Billets</h2>
                        </div>
                        <div class="row">
                            <ul>
                                {% for billet in reservation.billets %}
                                    <li>{{ billet.nom ~ ' ' ~ billet.prenom }} — Tarif : <b>{{ billet.tarif }}€</b></li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-md-8 col-12">
                    <div class="container text-center">
                        <div class="text-center mt-4">
                            <h2>Finaliser la réservation</h2>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <p class="h2">Coût total : {{ total }}€</p>
                            </div>
                            <div class="col-12">
                                <form action="{{ path('reservation') }}" method="POST">
                                    <script
                                            src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                                            data-key="pk_test_TYooMQauvdEDq54NiTphI7jx"
                                            data-amount="{{ total * 100 }}"
                                            data-currency="EUR"
                                            data-name="Musée du Louvres"
                                            data-description="Paiement de votre réservation"
                                            data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
                                            data-locale="fr"
                                            data-label="Procéder au paiement"
                                            data-allow-remember-me="false">
                                    </script>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
