{{ form_start(form) }}
<div class="tab">
    <!-- Type input-->
    <div class="form-group">
        {#<label class="col-md-4 col-12 mx-auto control-label" for="textinput">Text Input</label>#}
        <div class="col-md-4 col-12 mx-auto control-label">
            {{ form_label(form.type) }}
        </div>
        <div class="col-md-4 col-12 mx-auto">
            {{ form_widget(form.type) }}
            {#<input id="textinput" name="textinput" type="text" placeholder="placeholder" class="form-control input-md">#}
        </div>
    </div>

    <!-- Date input-->
    <div class="form-group">
        <div class="col-md-4 col-12 mx-auto control-label">
            {{ form_label(form.dateVisite) }}
        </div>
        <div class="col-md-4 col-12 mx-auto">
            {{ form_widget(form.dateVisite) }}
        </div>
    </div>

    <!-- Nombre input-->
    <div class="form-group">
        <div class="col-md-4 col-12 mx-auto control-label">
            {{ form_label(form.nombreBillets) }}
        </div>
        <div class="col-md-4 col-12 mx-auto">
            {{ form_widget(form.nombreBillets) }}
        </div>
    </div>
</div>
<div class="tab">
    {{ form_widget(form.billets) }}
    <button class="btn btn-primary btn-xl mt-5">Réserver</button>
</div>

<button class="btn btn-secondary btn-xl mt-5" id="prevBtn">Précédent</button>
<button class="btn btn-secondary btn-xl mt-5" id="nextBtn">Continuer</button>
{{ form_end(form) }}